@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #0FC2C0, #017a78 );
}

p{
    text-align: justify;
}

main{
    background-color: white;
    padding: 10px;
    border-radius: 10px ;
    box-shadow: 5px 5px 15px #025f5e70 ;
    width: 600px;
    margin: auto;
}
h1{
    color: #012222;
    text-shadow: 1px 1px 3px #012222;
    text-align: center;
}

h2{
    color: #0993A6;
}

   

